<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.multi.mvc.tour.model.mapper.AccmMapper">
	
	<resultMap type="Accommodation" id="accmResultMap">
		<result property="contentid" column="contentid" />
		<result property="contenttypeid" column="contenttypeid" />
		<result property="homepage" column="homepage" />
		<result property="tel" column="tel" />
		<result property="title" column="title" />
		<result property="firstimage" column="firstimage" />
		<result property="firstimage2" column="firstimage2" />
		<result property="areacode" column="areacode" />
		<result property="sigungucode" column="sigungucode" />
		<result property="cat1" column="cat1" />
		<result property="cat2" column="cat2" />
		<result property="cat3" column="cat3" />
		<result property="addr1" column="addr1" />
		<result property="addr2" column="addr2" />
		<result property="zipcode" column="zipcode" />
		<result property="mapx" column="mapx" />
		<result property="mapy" column="mapy" />
		<result property="overview" column="overview" />
		<result property="accomcountlodging" column="accomcountlodging" />
		<result property="benikia" column="benikia" />
		<result property="checkintime" column="checkintime" />
		<result property="checkouttime" column="checkouttime" />
		<result property="chkcooking" column="chkcooking" />
		<result property="foodplace" column="foodplace" />
		<result property="goodstay" column="goodstay" />
		<result property="hanok" column="hanok" />
		<result property="infocenterlodging" column="infocenterlodging" />
		<result property="parkinglodging" column="parkinglodging" />
		<result property="pickup" column="pickup" />
		<result property="roomcount" column="roomcount" />
		<result property="reservationlodging" column="reservationlodging" />
		<result property="reservationurl" column="reservationurl" />
		<result property="roomtype" column="roomtype" />
		<result property="scalelodging" column="scalelodging" />
		<result property="subfacility" column="subfacility" />
		<result property="barbecue" column="barbecue" />
		<result property="beauty" column="beauty" />
		<result property="beverage" column="beverage" />
		<result property="bicycle" column="bicycle" />
		<result property="campfire" column="campfire" />
		<result property="fitness" column="fitness" />
		<result property="karaoke" column="karaoke" />
		<result property="publicbath" column="publicbath" />
		<result property="publicpc" column="publicpc" />
		<result property="sauna" column="sauna" />
		<result property="seminar" column="seminar" />
		<result property="sports" column="sports" />
		<result property="refundregulation" column="refundregulation" />
	</resultMap>

	<select id="selectAccmAll" resultType="Accommodation">
		SELECT * FROM accommodation
	</select>
	
	<select id="selectAccmCount" parameterType="map" resultType="int">
		SELECT
			COUNT(*)
		FROM accommodation
	</select>
	
	<select id="selectAccmList" parameterType="map" resultMap="accmResultMap">
		SELECT 
			*
		FROM accommodation as A
		ORDER BY A.contentid DESC LIMIT ${limit} OFFSET ${offset}
	</select>
	
	<select id="findByContentId" parameterType="int" resultMap="accmResultMap">
		SELECT
			*
		FROM accommodation
		WHERE CONTENTID = #{contentid}
	</select>

</mapper>
