<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.multi.mvc.tour.model.mapper.TourspotMapper">
	
	<resultMap type="Tourspot" id="tourspotResultMap">
		<result property="contentid" column="contentid" />
		<result property="contenttypeid" column="contenttypeid" />
		<result property="homepage" column="homepage" />
		<result property="tel" column="tel" />
		<result property="title" column="title" />
		<result property="firstimage" column="firstimage" />
		<result property="firstimage2" column="firstimage2" />
		<result property="areacode" column="areacode" />
		<result property="sigungucode" column="sigungucode" />
		<result property="cat1" column="cat1" />
		<result property="cat2" column="cat2" />
		<result property="cat3" column="cat3" />
		<result property="addr1" column="addr1" />
		<result property="addr2" column="addr2" />
		<result property="zipcode" column="zipcode" />
		<result property="mapx" column="mapx" />
		<result property="mapy" column="mapy" />
		<result property="overview" column="overview" />
		
		<result property="accomcount" column="accomcount" />
		<result property="chkbabycarriage" column="chkbabycarriage" />
		<result property="chkcreditcard" column="chkcreditcard" />
		<result property="chkpet" column="chkpet" />
		<result property="expagerange" column="expagerange" />
		<result property="expguide" column="expguide" />
		<result property="heritage1" column="heritage1" />
		<result property="heritage2" column="heritage2" />
		<result property="heritage3" column="heritage3" />
		<result property="infocenter" column="infocenter" />
		<result property="opendate" column="opendate" />
		<result property="parking" column="parking" />
		<result property="restdate" column="restdate" />
		<result property="useseason" column="useseason" />
		<result property="usetime" column="usetime" />
	</resultMap>

	<select id="selectTourspotAll" resultType="Tourspot">
		SELECT * FROM tourspot
	</select>
	
	<!-- 숙소 갯수 -->
	<select id="selectTourspotCount" parameterType="map" resultType="int">
		SELECT
			COUNT(*)
		FROM tourspot as A
		WHERE 1 = 1
		<if test="selectAreaCode != null and selectAreaCode != ''">
			AND A.AREACODE LIKE ${selectAreaCode}
		</if>
		<if test="tourspotType != null">
			AND (
				<foreach collection="tourspotType" item="item" separator="or">
					A.cat3 LIKE '%${item}%'
				</foreach>
			)
		</if> <!-- 관광지 타입은 없어서 안쓰셔도 될거같아요요 -->
		<if test="searchValue != null">
			AND A.TITLE LIKE '%${searchValue}%'
		</if>
	</select>
	
	<!-- 숙소 검색 -->
	<select id="selectTourspotList" parameterType="map" resultMap="tourspotResultMap">
		SELECT 
			*
		FROM tourspot as A
		WHERE 1 = 1
		<if test="searchValue != null">
			AND A.TITLE LIKE '%${searchValue}%'
		</if>
		<if test="tourspotType != null">
			AND (
				<foreach collection="tourspotType" item="item" separator="or">
					A.cat3 LIKE '%${item}%'
				</foreach>
			)
		</if><!-- 관광지 타입은 없어서 안쓰셔도 될거같아요요 -->
		<if test="selectAreaCode != null and selectAreaCode != ''">
			AND A.AREACODE LIKE ${selectAreaCode}
		</if>
		ORDER BY A.contentid DESC LIMIT ${limit} OFFSET ${offset}
	</select>
	
	<!-- 숙소 contentId로 찾아오기 -->
	<select id="findByContentId" parameterType="int" resultMap="tourspotResultMap">
		SELECT
			*
		FROM tourspot
		WHERE CONTENTID = #{contentid}
	</select>

</mapper>
