<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper
	namespace="com.multi.mvc.member.model.mapper.MemberMapper">
	<sql id="selectMemberSql">
		SELECT
		mNO, ID, PASSWORD, NAME,
		PHONE, EMAIL, ADDRESS, STATUS,
		ENROLL_DATE, MODIFY_DATE
		FROM MEMBER
	</sql>

	<resultMap type="Member" id="memberResultMap">
		<result property="mno" column="mNO" />
		<result property="id" column="ID" />
		<result property="password" column="PASSWORD" />
		<result property="name" column="NAME" />
		<result property="phone" column="PHONE" />
		<result property="email" column="EMAIL" />
		<result property="address" column="ADDRESS" />
		<result property="kakaoToKen" column="kakaoToKen" />
		<result property="status" column="STATUS" />
		<result property="enrollDate" column="ENROLL_DATE" />
		<result property="modifyDate" column="MODIFY_DATE" />
	</resultMap>
	
	<resultMap type="Booking" id="bookingResultMap">
		<result property="bkNo" column="bkNo" />
		<result property="mNO" column="mNO" />
		<result property="contentId" column="contentId" />
		<result property="startDate" column="startDate" />
		<result property="endDate" column="endDate" />
		<result property="headCount" column="headCount" />
	</resultMap>
	
	<resultMap type="Accommodation" id="accmResultMap">
		<result property="contentid" column="contentid" />
		<result property="contenttypeid" column="contenttypeid" />
		<result property="homepage" column="homepage" />
		<result property="tel" column="tel" />
		<result property="title" column="title" />
		<result property="firstimage" column="firstimage" />
		<result property="firstimage2" column="firstimage2" />
		<result property="areacode" column="areacode" />
		<result property="sigungucode" column="sigungucode" />
		<result property="cat1" column="cat1" />
		<result property="cat2" column="cat2" />
		<result property="cat3" column="cat3" />
		<result property="addr1" column="addr1" />
		<result property="addr2" column="addr2" />
		<result property="zipcode" column="zipcode" />
		<result property="mapx" column="mapx" />
		<result property="mapy" column="mapy" />
		<result property="overview" column="overview" />
		<result property="accomcountlodging" column="accomcountlodging" />
		<result property="benikia" column="benikia" />
		<result property="checkintime" column="checkintime" />
		<result property="checkouttime" column="checkouttime" />
		<result property="chkcooking" column="chkcooking" />
		<result property="foodplace" column="foodplace" />
		<result property="goodstay" column="goodstay" />
		<result property="hanok" column="hanok" />
		<result property="infocenterlodging" column="infocenterlodging" />
		<result property="parkinglodging" column="parkinglodging" />
		<result property="pickup" column="pickup" />
		<result property="roomcount" column="roomcount" />
		<result property="reservationlodging" column="reservationlodging" />
		<result property="reservationurl" column="reservationurl" />
		<result property="roomtype" column="roomtype" />
		<result property="scalelodging" column="scalelodging" />
		<result property="subfacility" column="subfacility" />
		<result property="barbecue" column="barbecue" />
		<result property="beauty" column="beauty" />
		<result property="beverage" column="beverage" />
		<result property="bicycle" column="bicycle" />
		<result property="campfire" column="campfire" />
		<result property="fitness" column="fitness" />
		<result property="karaoke" column="karaoke" />
		<result property="publicbath" column="publicbath" />
		<result property="publicpc" column="publicpc" />
		<result property="sauna" column="sauna" />
		<result property="seminar" column="seminar" />
		<result property="sports" column="sports" />
		<result property="refundregulation" column="refundregulation" />
	</resultMap>
	

	<select id="selectCount" resultType="int">
		SELECT COUNT(*) FROM MEMBER
	</select>

	<select id="selectAll" resultMap="memberResultMap">
		<include refid="selectMemberSql" />
	</select>

	<select id="selectMemberById" parameterType="string"
		resultMap="memberResultMap">
		SELECT
		mNO, ID, PASSWORD, NAME,
		PHONE, EMAIL, ADDRESS, STATUS,
		ENROLL_DATE, MODIFY_DATE
		FROM MEMBER
		WHERE ID = #{id} AND STATUS = 'Y'
	</select>

	<select id="selectMemberByKakaoToken" parameterType="string"
		resultMap="memberResultMap">
		<include refid="selectMemberSql" />
		WHERE KAKAOTOKEN = #{kakaoToKen} AND STATUS = 'Y'
	</select>

	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER (
		mNO, ID, PASSWORD, NAME,
		PHONE, EMAIL, ADDRESS, KAKAOTOKEN, STATUS,
		ENROLL_DATE, MODIFY_DATE)
		VALUES(
		default, #{id}, #{password}, #{name},
		#{phone}, #{email}, #{address}, #{kakaoToken}, default,
		default, default)
	</insert>

	<update id="updateMember" parameterType="Member">
		UPDATE MEMBER
		SET
		NAME = #{name},
		PHONE = #{phone},
		EMAIL = #{email},
		ADDRESS = #{address},
		MODIFY_DATE = CURRENT_TIMESTAMP
		WHERE mNO = #{mno}
	</update>

	<update id="updatePwd" parameterType="map">
		UPDATE MEMBER
		SET PASSWORD = #{password}
		WHERE mNO = #{mno}
	</update>

	<update id="deleteMember" parameterType="int">
		UPDATE MEMBER
		SET STATUS = 'N'
		WHERE mNO = #{mno}
	</update>

	<select id="findBoardCountByMno" parameterType="int"
		resultType="int">
		select count(*)
		FROM BOARD
		WHERE MNO = ${mno}
	</select>
	
	<select id="findBookingByMno" parameterType="int" resultMap="bookingResultMap">
		SELECT *
		FROM BOOKING
		WHERE MNO = #{mno}
	</select>
	
	<select id="findAccmByContentId" parameterType="int" resultMap="accmResultMap">
		SELECT *
		FROM ACCOMMODATION
		WHERE CONTENTID = #{contentid}
	</select>
</mapper>

